:root {
  --main: #d64252;
  --background: #201e23;
  --textColor: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
}

b {
  color: var(--main);
}

h1, p {
  color: var(--textColor);
}